extends layout_cms

block content
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    script(type='text/javascript').
        $(document).ready(function () {
            $('select').material_select();
        });
    h1= title
    form(action='/add_category', method='post').col.s6
        .row
            .input-field.col.s2
                input#add_your_category.validate(type='text', name='category_name')
                label(for='add_your_category') add your category
        .row
            .input-field.col.s2
                select(name='parent_category')
                    option(value='', disabled='', selected='') Choose parent category
                    each category, i in categories
                        option(value=category.dataValues['id']) #{category.dataValues['name']}
        .row
            .input-field.col.s2
                .file-field.input-field
                    .btn
                        span Image
                        input(type='file' name='image')
                    .file-path-wrapper
                        input.file-path.validate(type='text')

        .row
            .input-field.col.s2
                button.btn.waves-effect.waves-light(type='submit')
                    | Submit
                    i.material-icons.right send

