doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/css/materialize.css')
        // Import Google Icon Font
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        // Import materialize.css
        //link(type='text/css', rel='stylesheet', href='css/materialize.min.css', media='screen,projection')
        // Let browser know website is optimized for mobile
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

    body
        script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js')
        script(type='text/javascript', src='js/materialize.min.js')
        header
            nav.nav-extended
                .nav-wrapper
                    a.brand-logo(href='/') Logo
                    a.button-collapse(href='#', data-activates='mobile-demo')
                        i.material-icons menu
                    ul#nav-mobile.right.hide-on-med-and-down
                        li
                            a.waves-effect.waves-light.btn(href='/sign_up') Sign up
                        li
                            a.waves-effect.waves-light.btn(href='/log_in') Log In
                        li
                            a.waves-effect.waves-light.btn(href='/account')
                                i.medium.material-icons account_box
                        li
                            a.waves-effect.waves-light.btn(href='cart')
                                i.medium.material-icons shopping_basket
                        li
                            a(href='collapsible.html') JavaScript
                    ul#mobile-demo.side-nav
                        li
                            a(href='/account')
                                i.medium.material-icons account_box
                        li
                            a(href='cart')
                                i.medium.material-icons shopping_basket
                        li
                            a(href='collapsible.html') JavaScript
                .nav-wrapper
                    ul.left.hide-on-med-and-down
                        li
                            a.waves-effect.waves-light.btn(href='/new_arrivals') new arrivals
                        li.tab
                            a.waves-effect.waves-light.btn(href='/women') women
                        li.tab
                            a.waves-effect.waves-light.btn(href='/men') men
                        li.tab
                            a.waves-effect.waves-light.btn(href='/catalog') clearance
        main
            block content
            // Import jQuery before materialize.js
            script(type='text/javascript', src='https://code.jquery.com/jquery-3.2.1.min.js')
            script(type='text/javascript', src='js/bin/materialize.min.js')



        footer.page-footer
            .container
                .row
                    .col.l6.s12
                        h5.white-text Footer Content
                        p.grey-text.text-lighten-4 You can use rows and columns here to organize your footer content.
                    .col.l4.offset-l2.s12
                        h5.white-text Links
                        ul
                            li
                                a.grey-text.text-lighten-3(href='#!') Link 1
                            li
                                a.grey-text.text-lighten-3(href='#!') Link 2
                            li
                                a.grey-text.text-lighten-3(href='#!') Link 3
                            li
                                a.grey-text.text-lighten-3(href='#!') Link 4
            .footer-copyright
                .container
                    | © 2014 Copyright Text
                    a.grey-text.text-lighten-4.right(href='#!') More Links


