extends layout

block content
    .row
        .col.s2
            .card
                .card-image
                    img(src='images/dress02.jpg')

                .card-content
                    p
                        | VALENTINO
                    p $11,000
                .card-action
                    a(href='valentino_floral_print_gown') floral print gown
        .col.s2
            .card
                .card-image
                    img(src='images/sweatshirt01.jpg')
                .card-content
                    p
                        | VALENTINO
                    p $2,490
                .card-action
                    a(href='#') embroidered sweatshirt
        .col.s2
            .card
                .card-image
                    img(src='images/trousers02.jpg')
                .card-content
                    p
                        | VALENTINO
                    p $2,190
                .card-action
                    a(href='#') printed trousers



