extends layout

block content
    .row
        .col.s2
            .card
                .card-image
                    img(src='images/no.jpg')

                .card-content
                    p=item.item_brand
                    p="$"+ item.price
                .card-action
                    a(href='itemCard')=item.item_title
